@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Stick+No+Bills:wght@300;400;500;600&display=swap');

/*Variables*/
:root{
    --font-family1: 'Stick No Bills', sans-serif;
    --font-family2: 'Shadows Into Light Two', cursive;
    --light-font: 300;
    --regular-font: 400;
    --medium-font: 500;
    --semibold-font: 600;
}
/*End of variables.*/

html{
    scroll-behavior: smooth;
}
/*End of html style*/

/*CSS reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

body{
    font-family: var(--font-family1);
    background-image: url("images/wallpaperflare.com_wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    color: white;
}
/*CSS reset end*/

.